@use "../components/reset";
@use "../components/global";
@use "../components/header";
@use "../components/about";
@use "../components/features";
@use "../components/pricing";
@use "../components/network";
@use "../components/testimonials";
@use "../components/help";
@use "../components/footer";
@use "../components/responsive";

@import "./mixins";

:root {
  --color-background: white;
  --color-footer: #f8f8f8;
  --color-dark-blue: #0b132a;
  --color-black: #000000;
  --color-soft-red: #f53838;
  --color-gray: #4f5665;
  --color-soft-gray: #dddddd;
  --color-white: white;
  --color-off-white: #f8f8f8;
  --default-padding: 20px;
  --default-radius: 4px;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --container-width: 1200px;
  --timing-animation: 0.2s;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-35: 35px;
  --font-size-50: 50px;
}
